.table-list{

}

.table-list-header{
	background: #F1F3F5;
	display:flex;
	padding:0 1em;
	font-size:0.8em;

	.header-item{
		flex:1;
		text-transform: uppercase;
	}
}

.table-list__item{
	.content{
		display:flex;
		text-decoration: none;
		border-bottom:1px solid #F1F3F5;
		transition: all 400ms ease;
		color: #495057;

		&:hover{
			background: #F1F3F5;
		}

		.content-item,{
			flex:1;
		}
	}
}